DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=
DOCKER_USERNAME=
ENV='echo -e "ENV=dev
    HOST=
    PORT=8080
    JWT_SECRET=
    DATABASE_DRIVER=
    DATABASE_HOST=
    DATABASE_PORT=
    DATABASE_NAME=
    DATABASE_USERNAME=
    DATABASE_PASSWORD=" >> .env'
